.row-header{
  margin:0px auto;
  padding:0px auto;
}

.row-content {
  margin:0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height:400px;
}

.footer{
  background-color: #00102f;
  margin:0px auto;
  padding: 20px 0px 20px 0px;
  color: aliceblue;
}
.jumbotron {
  height: 800px;
  padding:70px 30px 70px 30px;
  margin:0px auto;
  color:floralwhite;
  border-radius:0
}
.page{
  background-color: #4b6878;
}
.navbar-dark {
  background-color: #00102f;
}

.navbar-brand {
  font-family: 'Audiowide',serif;
  font-size: 26pt;
}

.title {
  margin-top: 0;
  margin-bottom: 0.75rem;
  color: #444;

@include clearfix();
}